.model3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 4px;
}

.Order {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 4px;
}
